---
layout: default
---

<article class="fl w-70 ma3 ml5 mb5">
  <div class="fl w-70">
    <div class="ttc f2 black"> Issue No. {{page.tag | remove: "issue-"}} </div>
    <div class="ttc f2 black"> {{page.title}} </div>
    <div class="f4 black"> {{page.tanggal}} </div>
    <article class="w-100 center pv2 mt2">
      <div class="aspect-ratio aspect-ratio--3x4">
        <div class="aspect-ratio--object cover" style="background:url({{page.cover}}) center;"></div>
      </div>
    </article>

    <div class="fl lh-copy">
      {{content}}
    </div>

    <div class="lh-title fl ttc pt2">
      {% for post in site.categories[page.tag] %}
        <a class="link black" href="{{ post.url }}">
          <div class="f4"> {{ post.title }} </div>
          <div class="mb2 f6"> {{post.author}} </div>
        </a>
      {% endfor %}
      <a class="link black" href="/assets/pdf/lsm-{{page.tag}}.pdf">
        <div class="fl f4 hover-bg-moon-gray mv4 ba pa2 br1"> Download PDF </div>
      </a>
    </div>
  </div>
</article>

<div class="fr black pa4 f3 fixed right-0">
  <a class="link black" href="javascript:history.back()"> ⟵ </a>
</div>
